<app-admin-navbar></app-admin-navbar>

<div class="transaction-form-container">
    <h2>Add Transaction</h2>
    
    <form (ngSubmit)="onSubmit()" #transactionForm="ngForm">
        <div>
            <label for="transactionDate">Transaction Date:</label>
            <input 
              type="date" 
              id="transactionDate" 
              [(ngModel)]="transaction.transactionDate" 
              name="transactionDate" 
              required 
            />
          </div>
  
      <div class="form-group">
        <label for="transactionType">Transaction Type:</label>
        <select id="transactionType" name="transactionType" [(ngModel)]="transaction.transactionType" required>
          <option value="Income">Income</option>
          <option value="Expense">Expense</option>
        </select>
      </div>
  
      <div class="form-group">
        <label for="description">Description:</label>
        <input type="text" id="description" name="description" [(ngModel)]="transaction.description" required />
      </div>
  
      <div class="form-group">
        <label for="amount">Amount (₹):</label>
        <input type="number" id="amount" name="amount" [(ngModel)]="transaction.amount" required />
      </div>
  
      <div class="form-group">
        <label for="paymentMode">Payment Mode:</label>
        <select id="paymentMode" name="paymentMode" [(ngModel)]="transaction.paymentMode" required>
          <option value="Cash">Cash</option>
          <option value="Bank Transfer">Bank Transfer</option>
          <option value="UPI">UPI</option>
        </select>
      </div>
  
      <button type="submit" [disabled]="!transactionForm.form.valid || isSubmitting" class="submit-button">
        {{ isSubmitting ? 'Submitting...' : 'Submit' }}
      </button>
    </form>
  </div>
  